body {
  min-height: 97vh;
  display: flex;
  flex-wrap: wrap;
}

.about{
  background-color: black;
  color: white;
  width: 50%;
  text-align: center;
  line-height: 75px;
  font-family: 'Orbitron', sans-serif;
  background-image: url("sacred_geo4.jpg");
  background-position: center;

}

.code {
  background-color: gray;
  color: white;
  width: 50%;
  text-align: center;
  line-height: 75px;
  font-family: 'Orbitron', sans-serif;
  background-image: url("sacred_geo1.jpg");
  background-position: center;
}

.resume {
  background-color: blue;
  color: white;
  width: 50%;
  text-align: center;
  line-height: 75px;
  font-family: 'Orbitron', sans-serif;
  background-image: url("sacred_geo2.jpg");
  background-position: center;
}

.contact {
  background-color: red;
  color: white;
  width: 50%;
  text-align: center;
  line-height: 75px;
  font-family: 'Orbitron', sans-serif;
  background-image: url("sacred_geo.jpg");
  background-position: center;
}

#linkedin {
  width: 100px;
  height: 100px;
}

#github {
  width: 80px;
  height: 80px;
}
