body {
  min-height: 97vh;
  display: flex;
  flex-wrap: wrap;
}

.about{
  background-color: black;
  color: white;
  width: 50%;
  text-align: center;
  line-height: 75px;
  font-family: 'Orbitron', sans-serif;
  background-image: url("space_1.jpg");

}

.code {
  background-color: gray;
  color: white;
  width: 50%;
  text-align: center;
  line-height: 75px;
  font-family: 'Orbitron', sans-serif;
  background-image: url("sacred_geo1.jpg");
}

.resume {
  background-color: blue;
  color: white;
  width: 50%;
  text-align: center;
  line-height: 75px;
  font-family: 'Orbitron', sans-serif;
  background-image: url("sacred_geo.jpg");
}

.contact {
  background-color: red;
  color: white;
  width: 50%;
  text-align: center;
  line-height: 75px;
  font-family: 'Orbitron', sans-serif;
  background-image: url("sacred_geo2.jpg");
}
